{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Django 게시판{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {% block extra_css %} {% endblock %}
  </head>
  <body>
    <!-- 공통 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">📌 Django 게시판</a>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="#">ML/DL 모델 작동</a>
          <a class="nav-link" href="/board/">게시판</a>
          <a class="nav-link" href="#">로그인</a>
          <a class="nav-link" href="#">회원가입</a>
        </div>
      </div>
    </nav>

    <!-- 자식 템플릿이 채울 영역 -->
    <div class="container mt-4">
      <!-- <img src="{% static 'image/kimdaejeung-flower-7993995_640.jpg' %}" alt="kimdaejeung-flower-7993995_640.jpg"/> -->
      {% block content %} {% endblock %}
    </div>

    <!-- 공통 푸터 -->
    <footer class="text-center text-muted mt-5 py-3 border-top">
      <small>© 2025 Django 게시판 실습</small>
      <ul>
        <li>팀원 A</li>
        <li>팀원 B</li>
        <li>팀원 C</li>
        <li>팀원 D</li>
      </ul>
    </footer>
  </body>
</html>
