{% extends '../base.html' %}
{% block title %}게시글 상세{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="mb-0">{{ post.title }}</h4>
    </div>
    <div class="card-body">
        <p class="text-muted mb-3">
            {{ post.created_at }}
        </p>
        <hr>
        <p>{{ post.content|linebreaks }}</p>
    </div>

    <!-- 첨부 이미지 (있을때만 표시) -->
    {% if post.image %}
    <div class="post-image mt-3">
        <p class="text-muted small mb-2">📷 첨부 이미지</p>
        <img src="{{ post.image.url }}" alt="{{post.title}}images">
    </div>
    {% endif %}
    
    <!-- 첨부 파일 (있을때만 표시) -->
    {% if post.attachment %}
    <div class="mt-4">
      <label class="form-label fw-bold">첨부파일:</label>
      <a href="{{ post.attachment.url }}" class="btn btn-outline-primary ms-2" download>
        {{ post.attachment.name }}
      </a>
    </div>
     {% endif %}

    <div class="card-footer text-end">
        <a href="/board/" class="btn btn-secondary">목록으로</a>
        <a href="#" class="btn btn-warning">수정</a>
        <a href="#" class="btn btn-danger">삭제</a>
    </div>
</div>

{% endblock %}
